.grid-container {
    display: grid;
    grid-template-columns: 100px 1fr 1fr; /* Три колонки однакової ширини */
    grid-template-rows: 300px 300px;      /* Два рядки, автоматична висота */
    gap: 10px;                          /* Проміжок між блоками */
text-align: center;
vertical-align: center;
}
